{% block footer %}
    <!-- footer content -->
    <<footer>
        <div class="pull-right">
            Beer Warehouse by <a href="https://webbaard.com">Webbaard</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}